:host {
  --individual-scale: 1;
  --size: calc(var(--spritesheet-scaled-size) * var(--individual-scale));
  --factor: calc(var(--individual-scale) * var(--spritesheet-scale-factor));
  @apply flex justify-center items-center w-max h-max relative box-content;
  border: 2px solid;
  border-image: var(--border) 1 stretch;
  background-color: var(--background);
  height: var(--size);
  width: var(--size);
  padding: calc(0.125rem * var(--factor));
}

.icon {
  --size: calc(var(--spritesheet-scaled-size) * var(--individual-scale));
  --factor: calc(var(--individual-scale) * var(--spritesheet-scale-factor));
  height: var(--size);
  width: var(--size);
  background-image: url('~src/assets/item-spritesheet.png');
  background-position: calc(var(--index) * var(--size) * -1) 0px;
  background-size: calc(
      var(--spritesheet-width) * var(--spritesheet-scale-factor) * var(--individual-scale)
    )
    var(--size);
  image-rendering: pixelated;

  .item-amount {
    pointer-events: none;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: calc(0.5rem * var(--factor));
    line-height: calc(0.5rem * var(--factor));
    text-shadow: calc(-1px * var(--factor)) 0 0 #000,
      calc(1px * var(--factor)) calc(1px * var(--factor)) 0 #000;
  }

  .durability-progress,
  .enhancement-progress {
    @apply w-full bg-black absolute pointer-events-none;
    height: calc(1.5px * var(--factor));
    width: calc(100% - calc(4px * var(--factor)));
    left: calc(2px * var(--factor));
    bottom: calc(1.5px * var(--factor));

    & > * {
      @apply h-full;
      min-width: calc(1px * var(--factor));
    }
  }

  .enhancement-progress {
    bottom: calc(3px * var(--factor));

    & > * {
      background-color: #e568d8;
    }
  }
}
