<div
  class="icon"
  *ngIf="this.itemData"
  cdkDrag
  [cdkDragData]="this.itemData"
  [cdkDragDisabled]="!this.drag"
  [appItemTooltip]="{
    objectId: this.objectID,
    displayReinforcementBonus: this.isReinforced
  }"
  [class.hidden]="this.hide"
  (cdkDragStarted)="this.selectedItemService.$selectedItem.next(-1)"
  style="--index:{{ this.itemData?.iconIndex }}; --individual-scale: {{ this.scale }};">
  <div
    class="relative w-full h-full"
    *ngIf="this.amount && !this.durabilityProgress && this.itemData.isStackable === 1">
    <div class="item-amount">
      {{ this.amount }}
    </div>
  </div>
  <div *ngIf="this.reinforcementProgress" class="reinforcement-progress">
    <div [style.width.%]="this.reinforcementProgress"></div>
  </div>
  <div *ngIf="this.durabilityProgress" class="durability-progress">
    <div
      [style.width.%]="this.durabilityProgress"
      [style.backgroundColor]="this.durabilityBarColor"></div>
  </div>
</div>
<img
  cdkDrag
  [cdkDragData]="{ objectID: this.objectID }"
  (cdkDragStarted)="this.selectedItemService.$selectedItem.next(-1)"
  [appItemTooltip]="{
    objectId: this.objectID,
    displayReinforcementBonus: this.isReinforced
  }"
  [class.hidden]="this.hide"
  class="h-full"
  *ngIf="this.isItemInvalid"
  src="assets/item-not-found.png" />
<img
  *ngIf="this.placeholder !== -1 && !this.itemData"
  class="absolute h-full w-full p-1"
  src="assets/equipment-placeholder/{{ this.placeholder }}.png"
  alt="" />
