<app-card class="!grid grid-cols-2 gap-2">
  <app-item
    *ngFor="let item of this.equipmentSlots; let i = index"
    [objectID]="item.objectID"
    [amount]="item.amount"
    [drag]="true"
    [hide]="this.indexToHide === 51 + i"
    [placeholder]="this.placeholder[i]"
    cdkDropList
    [cdkDropListData]="item"
    [cdkDropListEnterPredicate]="this.dragNDropService.equipmentEnterPredicate()"
    (cdkDropListDropped)="this.dragNDropService.onDrop($event)"
    (cdkDropListEntered)="this.dragNDropService.onEnter($event)"
    (cdkDropListExited)="this.dragNDropService.onExit($event)"
    (click)="this.onItemClick(51 + i)"
    id="inventory-{{ 51 + i }}"></app-item>
</app-card>
