<app-card class="w-96 !grid grid-cols-2 gap-3">
  <label for="name">Charactername:</label>
  <input id="name" type="text" [value]="this.currentName" (change)="this.onNameChange($event)" />
  <label for="hardcore">Hardcore:</label>
  <input
    id="hardcore"
    #isHardcoreCheckbox
    type="checkbox"
    [(ngModel)]="this.isHardcore"
    (change)="this.onHardcoreChange($event)" />
  <label for="saveslot">Saveslot (index):</label>
  <input
    id="saveslot"
    type="number"
    [(ngModel)]="this.index"
    (change)="this.onIndexChange($event)" />
  <label for="souls">Enable Souls:</label>
  <input
    id="souls"
    type="checkbox"
    [(ngModel)]="this.hasSoulsUnlocked"
    (change)="this.onEnableSoulsChange($event)" />
  <ng-container *ngIf="this.hasSoulsUnlocked">
    <label for="azeos-soul">
      <img src="https://via.placeholder.com/150" alt="Soul of Azeos" />
    </label>
    <input
      id="azeos-soul"
      type="checkbox"
      [(ngModel)]="this.hasAzeosUnlocked"
      (change)="this.onSoulsChange($event, 1)" />

    <label for="omoroth-soul">
      <img src="https://via.placeholder.com/150" alt="Soul of Omoroth" />
    </label>
    <input
      id="omoroth-soul"
      type="checkbox"
      [(ngModel)]="this.hasOmorothUnlocked"
      (change)="this.onSoulsChange($event, 2)" />

    <label for="scarab-soul">
      <img src="https://via.placeholder.com/150" alt="Soul of Scarab" />
    </label>
    <input
      id="scarab-soul"
      type="checkbox"
      [(ngModel)]="this.hasScarabUnlocked"
      (change)="this.onSoulsChange($event, 3)" />
  </ng-container>
  <button (click)="this.resetCharacter()">Reset character</button>
</app-card>
