:host {
  display: block;
  background-image: url('/assets/item-frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
  height: 50px;
  width: 50px;
}

.icon {
  height: 16px;
  width: 16px;
  background-image: url('/assets/spritesheet.png');
  image-rendering: pixelated;
}
