<app-card *ngIf="this.skillTalentTree">
  <p>Mining</p>
  <p>Points: X</p>

  <ng-container *ngIf="this.skillTalentTree.points as points">
    <div class="talent-row">
      <div class="talent-container">
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[0],
            index: 0,
            blocked: this.blocked[0]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
      </div>
    </div>
    <div class="talent-row">
      <div class="talent-container">
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[1],
            index: 1,
            blocked: this.blocked[1]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[2],
            index: 2,
            blocked: this.blocked[2]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
      </div>
    </div>
    <div class="talent-row">
      <div class="talent-container">
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[3],
            index: 3,
            blocked: this.blocked[3]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[4],
            index: 4,
            blocked: this.blocked[4]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[5],
            index: 5,
            blocked: this.blocked[5]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
      </div>
    </div>
    <div class="talent-row">
      <div class="talent-container">
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[6],
            index: 6,
            blocked: this.blocked[6]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
        <app-talent
          [options]="{
            skillId: this.skillId,
            points: points[7],
            index: 7,
            blocked: this.blocked[7]
          }"
          (talentIncreased)="this.onTalentIncrease($event)">
        </app-talent>
      </div>
    </div>
  </ng-container>

  <button (click)="this.onResetButtonClick()">Reset</button>
</app-card>
