<app-card>
  <div class="grid grid-cols-3 gap-2">
    <app-skill
      *ngFor="let skill of this.skills"
      (click)="this.onSKillClick(skill.skillID)"
      [skillID]="skill.skillID"
      [value]="this.getSkillLevel(skill.skillID)"
      [selected]="this.selectedSkillID === skill.skillID"
      [maxed]="this.getSkillLevel(skill.skillID) >= 100"></app-skill>
  </div>
  <div *ngIf="this.selectedSkillID != null" class="flex flex-col gap-2 items-center mt-2 font-bold">
    <div>{{ this.getSelectedSkillName() }}</div>
    <div class="flex justify-around">
      <div>-</div>
      <div>{{ this.getSkillLevel(this.selectedSkillID) }}</div>
      <div>+</div>
    </div>
  </div>
</app-card>
