.skill-title {
  color: #ffd186;
  text-shadow: 0 3px 0 #000;
}

.current-level {
  @apply font-thin text-xl;
  width: 44px; // chrome automatically sets the width based on the max propety of the input, but firefox does not, so we manually assign a fixed with here
  text-shadow: 0 3px 0 #000;
  background-color: transparent;
  appearance: none;
  outline: none;
  background-color: #915b26;
  text-align: center;
  padding: 3px;
  padding-left: 6px;
  box-shadow: 0px 3px 0 0px #624a22, inset 0 3px 0 0px #d29b7c, inset 3px 0 0 0px #d29b7c,
    inset -3px 0 0 0 #b58047, inset 0 -3px 0 0px #b58047;
  text-shadow: 0 3px 0 #624a22;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.level-button {
  @apply w-8 p-2;

  img {
    width: 9px;
    height: 9px;
    filter: drop-shadow(0px 3px 0 #624a22);
  }
}
