<app-card *ngIf="this.itemDetail">
  <div class="flex gap-2 mb-2 items-center">
    <app-item
      class="pointer-events-none"
      [objectID]="this.inventorySlot.objectID"
      [scale]="2"></app-item>
    <div class="flex flex-col justify-center">
      <div class="flex gap-2">
        <h3 class="text-xl title-shadow" [ngStyle]="{ color: this.itemDetail.rarityColor }">
          {{ this.itemDetail.name }}
        </h3>
        <span class="text-xl text-gray-300">#{{ this.itemDetail.paddedObjectId }}</span>
      </div>
      <h4 class="text-md title-shadow" [ngStyle]="{ color: this.itemDetail.rarityColor }">
        {{ this.rarityLabel }}
      </h4>
    </div>
  </div>
  <p class="text-xl">{{ this.itemDetail.description }}</p>
  <div>
    <input type="number" (input)="this.onAmountChange($event)" class="text-black" />
    /
    <span>500</span>
  </div>
</app-card>
