<div
  class="icon"
  *ngIf="this.itemData"
  appItemTooltip
  cdkDrag
  [cdkDragData]="this.itemData"
  [cdkDragDisabled]="!this.drag"
  [tooltipItemData]="this.itemData"
  style="--index:{{ this.itemData?.iconIndex }}; --individual-scale: {{ this.scale }};">
  <div
    class="item-amount"
    *ngIf="this.amount && !this.durabilityProgress && this.itemData.isStackable === 1">
    {{ this.amount }}
  </div>
  <div *ngIf="this.durabilityProgress" class="durability-progress w-full bg-black absolute">
    <div
      [style.width.%]="this.durabilityProgress"
      [style.backgroundColor]="this.durabilityBarColor"
      class="bg-red-600 h-full"></div>
  </div>
</div>
