<app-card>
  <div class="item-grid" cdkDropListGroup>
    <app-item
      *ngFor="let inventorySlot of this.inventory; let i = index"
      (click)="this.onItemClick(i)"
      [objectID]="inventorySlot.objectID"
      [amount]="inventorySlot.amount"
      cdkDropList
      [cdkDropListData]="inventorySlot"
      (cdkDropListDropped)="this.onDrop($event)"
      (cdkDropListEntered)="this.onEnter($event)"
      (cdkDropListExited)="this.onExit($event)"
      [drag]="true"
      [hide]="this.indexToHide === i"
      id="inventory-{{ i }}"></app-item>
  </div>
</app-card>
