<ng-container *ngIf="!this.isInvalidItem">
  <div class="flex gap-1 items-center">
    <h3 [ngStyle]="{ color: this.itemDetail.rarityColor }">
      {{ this.itemDetail.name }}
    </h3>
    <span class="text-gray-400">#{{ this.itemDetail.paddedObjectId }}</span>
  </div>
  <p class="font-semibold" *ngIf="this.itemDetail.damage">
    {{ this.itemDetail.damage.range[0] }}-{{ this.itemDetail.damage.range[1] }}
    {{ this.itemDetail.damage.isRange ? 'range' : 'melee' }} damage
    <span *ngIf="this.displayReinforcementBonus" [style.color]="'#00ff00'"
      >(+{{ this.itemDetail.damage.reinforcementBonus }})</span
    >
  </p>
  <p
    class="font-semibold"
    *ngFor="let condition of this.itemDetail.conditionsWhenEquipped"
    [style.color]="condition[1] ? '#00ff00' : 'inherit'">
    {{ condition[0] }}
    <span *ngIf="this.displayReinforcementBonus" [style.color]="'#00ff00'">{{ condition[2] }}</span>
  </p>
  <ng-container *ngIf="this.itemDetail.setBonus as setBonus">
    <div class="font-semibold" *ngFor="let condition of setBonus.conditions">
      <p [style.color]="this.checkActiveSetBonuses(condition) ? '#fdfb2c' : '#5e5500'">
        {{ condition }}
      </p>
    </div>
    <div class="font-semibold" *ngFor="let piece of setBonus.pieces">
      <p [style.color]="!this.checkActivePieces(piece) ? '#808080' : null">{{ piece }}</p>
    </div>
  </ng-container>
  <p class="text-gray-500">{{ this.itemDetail.description }}</p>
</ng-container>
<ng-container *ngIf="this.isInvalidItem">
  <div>
    Unknown Item
    <span class="text-gray-400">#{{ this.objectId }}</span>
  </div>
</ng-container>
