:host {
  @apply text-xl;
  background-color: black;
  border: 4px solid;
  border-image: url('~src/assets/border/tooltip.png') 4;
  border-image-width: 12px;
  border-image-outset: 4px;
  image-rendering: pixelated;
  max-width: 500px;
}
