<ng-container *ngIf="!this.isInvalidItem">
  <div class="flex gap-1 items-center">
    <h3 [ngStyle]="{ color: this.itemDetail.rarityColor }">
      {{ this.itemDetail.name }}
    </h3>
    <span class="text-gray-400">#{{ this.itemDetail.paddedObjectId }}</span>
  </div>
  <p *ngIf="this.itemDetail.damage">
    {{ this.itemDetail.damage.range[0] }}-{{ this.itemDetail.damage.range[1] }}
    {{ this.itemDetail.damage.isRange ? 'range' : 'melee' }} damage
    <span *ngIf="this.displayReinforcementBonus" [style.color]="'#00ff00'">
      (+{{ this.itemDetail.damage.reinforcementBonus }})</span
    >
  </p>
  <p *ngIf="this.itemDetail.cooldown">{{ this.itemDetail.cooldown }} attacks per second</p>
  <p
    *ngFor="let condition of this.itemDetail.conditionsWhenEquipped"
    [style.color]="condition[1] ? '#00ff00' : 'inherit'">
    {{ condition[0] }}
    <span *ngIf="this.displayReinforcementBonus" [style.color]="'#00ff00'">{{ condition[2] }}</span>
  </p>
  <p
    [style.color]="condition.isHighlighted ? '#fdfb2c' : '#726b00'"
    *ngFor="let condition of this.setBonusDetail?.conditions">
    {{ condition.label }}
  </p>
  <p
    [style.color]="piece.isHighlighted ? null : '#939393'"
    *ngFor="let piece of this.setBonusDetail?.pieces">
    {{ piece.name }}
  </p>
  <p class="text-gray-500">{{ this.itemDetail.description }}</p>
</ng-container>
<ng-container *ngIf="this.isInvalidItem">
  <div>
    Unknown Item
    <span class="text-gray-400">#{{ this.objectId }}</span>
  </div>
</ng-container>
