<app-card>
  <p>Version: {{ this.version }}</p>
  <p>
    This is an Open Source project made for the community. You can view the source code on
    <a
      class="border-b-2 pb-0.5"
      href="https://github.com/halilbahar/core-keeper-save-editor/"
      target="_blank">
      Github</a
    >.
  </p>
  <p>
    Our software is provided “as is," and you use the software at your own risk. We do not intend
    any harm. Whatever is in the browser stays in the browser.
  </p>
  <p>Powered by GitHub</p>
</app-card>
