input, select {
    -webkit-appearance: none;
    outline: none;
    background-color: #32220d;
    border: solid;
    border-image: url('/assets/input-border.png') 1;
    image-rendering: pixelated;
}