<app-card class="!flex flex-col">
  <div class="mb-5">
    <input
      type="text"
      [ngModel]="filterTerm"
      (input)="onFilterInput($event)"
      placeholder="Search..."
      class="mr-5" />
    <select [ngModel]="selectedCategory" (ngModelChange)="onCategorySelect($event)">
      <option value="-1">all</option>
      <option *ngFor="let category of getCategoryNames()" value="{{ categories[category] }}">
        {{ category }}
      </option>
    </select>
  </div>

  <app-item-list [inventory]="filteredItems"></app-item-list>
</app-card>
