<app-card>
  <div
    class="flex gap-2 sticky top-0 z-10 pt-4 pb-4 -translate-y-6 -mb-6"
    style="background-color: #915b26">
    <input
      type="text"
      [ngModel]="this.filterTerm"
      (input)="this.onFilterInput($event)"
      placeholder="Search..." />
    <select [ngModel]="this.selectedCategory" (ngModelChange)="this.onCategorySelect($event)">
      <option value="-1">all</option>
      <option
        *ngFor="let category of this.getCategoryNames()"
        value="{{ this.itemCategories[category] }}">
        {{ category }}
      </option>
    </select>
  </div>

  <div class="item-grid">
    <app-item
      *ngFor="let objectID of this.filteredObjectIDs"
      [objectID]="objectID"
      [isEditable]="false"></app-item>
  </div>
</app-card>
