@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: 'GNU Unifont Full';
  src: url('assets/GnuUnifontFull-Pm9P.ttf') format('truetype');
}

html, body {
  @apply h-screen w-screen text-white;
  font-family: 'GNU Unifont Full', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b7793d;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #e3984f;
}