@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

@import './variables.scss';

@font-face {
  font-family: 'default';
  font-weight: 400;
  src: url('assets/fonts/GnuUnifontFull-Pm9P.ttf') format('truetype');
}

@font-face {
  font-family: 'default';
  font-weight: 700;
  src: url('assets/fonts/LomoCopy-LT-Std-Mezzo_28688.ttf') format('truetype');
}

@font-face {
  font-family: 'default';
  font-weight: 100;
  src: url('assets/fonts/CKSE-Numbers.ttf') format('truetype');
}

html,
body {
  @apply h-screen w-screen text-white;
  font-family: 'default', sans-serif;
  cursor: url('assets/cursor.png'), auto;
  background-image: url('assets/background.jpeg');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #66421c;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #b7793d;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #e3984f;
}

.item-grid {
  @apply grid grid-cols-10 gap-2;
}

.cdk-drag-preview {
  filter: drop-shadow(5px 5px 4px #000);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

input[type='text'],
input[type='number'],
select {
  @apply appearance-none outline-none w-1/2 border;
  padding-left: 5px;
  background-color: #32220d;
  border: solid;
  border-image: url('~src/assets/border/input.png') 1;
}
