@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GNU Unifont Full';
  src: url('assets/GnuUnifontFull-Pm9P.ttf') format('truetype');
}

html, body {
  @apply h-screen w-screen text-white;
  font-family: 'GNU Unifont Full', sans-serif;
}