:root {
  --spritesheet-scale-factor: 2;
  --spritesheet-icon-width: 16px;
  --spritesheet-width: 16432px;
  --spritesheet-scaled-size: calc(var(--spritesheet-icon-width) * var(--spritesheet-scale-factor));
}
